.information{
    padding: 150px 100px 50px;
    display: flex;
    justify-content: space-around;
}
.info-me h3{
    font-family: 'Crimson Text';
    font-size: 48px;
    text-decoration: underline;
}
.info-me p{
    font-family: 'Poppins';
    font-size: 28px;
    width: 200px;
}
.info-me img{
    width: 150px;
    height: 230px;
}
.about-me{
    display: flex;
    flex-direction: column;
}
.about-me h3{
    font-family: 'Crimson Text';
    font-size: 32px;
    text-decoration: underline;
    margin-bottom: 20px;
}
.about-me p{
    font-family: 'Poppins';
    font-size: 15px;
    width: 390px;
}
