.footer{
    font-family: 'Poppins', sans-serif;
    margin-top: 50px;
}
.contact{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.make-contact{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.links{
    display: flex;
    align-items: center;
    gap: 10px;
}
.copyright{
    text-align: center;
    margin: 0 auto;
    padding: 10px;
}